/* Partie 1 */

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    font-family:Lato, Helvetica, Arial, sans-serif;
    color:#333;
    line-height: 1.75;
    font-size:20px;
}

.container{
    max-width: 1000px;
    margin:auto;
    height:100vh;
    display:flex;
}
.aside{
    width:300px;
    padding:50px;
    justify-content: center;
    display:flex;
    align-items: center;
    flex:none;
    color:black;
}
.main{
    flex:auto;
    padding:50px;
    background-color:white;
    justify-content: center;
    min-height: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    position:relative;
}
.texte{
    margin:30px;
}
.avatar{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.prenom{
    font-weight: 700;
    color:black;
    font-size:40px;
}
.nom{
    font-weight: 900;
    color: #7ba73b;
    font-size:60px;
}
.profession{
    color:grey;
    font-size:30px;
    font-weight: bold;
}

/* Partie 2 */

.cartouche{
    border-top:1px solid #939393;
    position:absolute;
    bottom:30px;
    font-family:Helvetica, Arial, sans-serif;
}
.cartouche td{
    text-align: center;
    padding:10px;
}

.nom,
.prenom,
.profession{
    font-family: 'Cinzel Decorative', cursive;
}

/* Partie 3 */

h2{
    align-self: flex-start;
    font-size:28px;
}
p{
    font-size: 20px;
}
.fond:nth-child(odd) .aside{
    background-color:#367099;
}
.fond:nth-child(odd){
    background: linear-gradient(90deg, #367099 50%, white 50%);
}
.fond:nth-child(even) .aside{
    background-color:#3B7BA7;
}
.fond:nth-child(even){
    background: linear-gradient(90deg, #3B7BA7 50%, #f5f5f5 50%);
}
.fond:nth-child(even) .main{
    background-color:#f5f5f5;
}
.langues{
    height: 200px;
}
.languesTab{
    width: 100%;
}
.languesTab th{
    text-align:left;
    width:auto;
}
.langSkill{
    text-align:left;
    white-space: nowrap;
    width:auto;
}
.underline{
    width: 100%;
    border-bottom: #333 2px dotted;
}

/* Responsive */

@media(max-width: 700px){
    .container{
        flex-direction: column;
        height: auto;
    }

    .aside{
        padding:5px;
        width: 100%;
        height: 150px;
        justify-content: center;
    }

    .main{
        padding:5px;
    }

    .avatar{
        width:100px;
        height:100px;
    }

    .prenom,
    .nom,
    .profession{
        font-size:22px;
        align-self:flex-start;
    }
    .texte{
        margin: 5px;
        margin-top: 90px;
    }

    .cartouche{
        transform:rotate(-90deg);
        left: 5px;
        top:30px;
    }
    .cartouche th, .cartouche td{
        transform:rotate(90deg);
        height: 50px;
        max-width: 18px;
        font-size: 10px;
        white-space: nowrap;
    }


}